*{
  box-sizing: border-box;
  padding: 0px;
  margin:0px;
}

#header-nav{
  background-color:gray;
  border-radius: 0px;
  border: 2px solid black;
}
#title{
  color: white;
  font-size: 1.8em;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#nav-list a{
  text-align: center; 
  color: white;
  font-size: 1.25em;
}

#nav-list a:hover{
  color: black;
}

.section{
  background-color: lightgray;
  height: 1000px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.section h2{
  padding-top: 10px;
}
.section p{
  padding: 5px;
}