body{
	background-color: maroon;
	font-family: 'oxygen',sans-serif;
	font-size: 15px;
	color: maroon;
}
#header-nav{
	background-color: orange;
}
#logo-img{
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0px;
	float: left;*/
}

.navbar-brand h1{
	font-family: :'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	text-transform:uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height:1px 1px 1px #222;
}

.navbar-brand a:hover,.navbar-brand h1:focus{
	text-decoration: none;
}

.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list{
	margin-top: 10px;
}
 #nav-list a{
 	color: #951C49;
 	text-align: center;
 }
 #nav-list a:hover{
 	background: #E7E7E7;
 }
 #nav-list a span{
 	font-size: 1.8em;
 }
 #phone{
 	margin-top: 5px;
 }
 #phone a{
 	padding-bottom: 0px;
 	text-align: right;
 }
 #phone div{
 	text-align: right;
 	padding-right: 15px;
 	color: green;
 }

 .navbar-header button .navbar-toggle, .navbar-header .icon-bar{
 	border: 1px solid maroon;
 }
 .navbar-header button.navbar-toggle {
  clear: both;
 margin-top: -30px;
}
/*body*/

.container .jumbotron{
	box-shadow: 0px 0px 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}
@media(min-width: 1200px){
	.jumbotron{
		background: url('../images/jumbotron_1200.jpg') no-repeat;
		height: 675px;
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	#logo-img{
		background: url('../images/restaurant-logo_medium.png') no-repeat;
		height: 100px;
		width: 100px;
		margin: 5px 5px 5px 0px;
	}
	.jumbotron{
		background: url('../images/jumbotron_992.jpg') no-repeat;
		height: 558px;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.jumbotron{
		background: url('../images/jumbotron_768.jpg') no-repeat;
		height: 432px;
		}
}
 @media(max-width:767px){
 	.navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #menu-tile, #specials-tile{
  	width: 360px;
  	margin: 0px auto 15px;
  }
 }

 #menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span,#map-tile span{
	 position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}

